* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  color: #1a1a1a;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #00bcd4, orange);
  color: #fff;
  border-radius: 10px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 2.2rem;
  font-weight: 500;
}

nav {
  background: #111;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding: 1rem 0;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1100px;
  margin: 4rem auto;
  padding: 0 1rem;
}


article {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  flex: 1 1 400px;
  min-width: 300px;
  max-width: 500px;
}

article h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

article p {
  margin-bottom: 1rem;
}

article img {
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

/* ===== Aside ===== */
aside {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  flex: 1 1 250px;
  min-width: 250px;
  max-width: 300px;
}

aside h3 {
  margin-bottom: 1rem;
}

aside ul {
  list-style: disc;
  padding-left: 1.5rem;
}

aside li {
  margin-bottom: 0.5rem;
}

/* ===== Links inside projects ===== */
article a {
  color: #00bcd4;
  text-decoration: none;
  transition: color 0.3s;
}

article img{
  width: 200px;
  border-radius: 70%;

}

article a:hover {
  color: #2196f3;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 2rem 1rem;
  background: #111;
  color: #fff;
  margin-top: 4rem;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
}

footer a:hover {
  color: #2196f3;
}

/* ===== Responsive Design ===== */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
}
